.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-content {
  width: 60%;
  padding: 50px;
}

.login-btn {
  width: 200px;
  height: 50px;
  align-self: center;
  margin-top: 20px;
}