@import "colors";
@import "variables";

.form-container {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .form-group {
    align-self: stretch;
  }
}

.form-input {
  width: 100%;
  height: 25px;
  margin-top: 25px;
}

.btn {
  font-size: $fs-md;
}

.btn[disabled] {
  background-color: $basic-gray;
}

.btn-submit {
  background-color: $basic-green;
  color: $white;
}