.product-info-container {
  display: flex;
  margin-top: 15px;
}

.figures-container {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.left-info, .right-info {
  display: flex;
  flex-direction: column;
}

.left-info {
  margin-right: 10px;

  .product-image {
    height: auto;
  }
}

.right-info {
  margin-left: 10px;

  .name-input {
    font-size: 1.5em;
    margin: 0.83em 0;
  }

  .description-input {
    font-size: 16px;
  }
}

.product-controls {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .save-btn {
    margin-right: 10px;
  }
}

/deep/
.figures-container {
  .cost-label {
    display: block;
  }

  .genders-container#gender {
    padding-right: 5px;
  }
}