@import "variables";
@import "colors";

.page-header {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 20px;
  background-color: $basic-light-gray;
}

.header-user-container {
  display: flex;
  align-items: center;
  font-size: $fs-md;

  .user-name {
    margin-right: 15px;
  }
}

.page-content {
  padding: 20px;
}