@import "variables";
@import "colors";

.page-header {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 20px;
  background-color: $basic-light-gray;

  .header-logo {
    display: flex;
    align-items: center;
  }
}

.header-user-container {
  display: flex;
  align-items: center;
  font-size: $fs-md;

  .user-name {
    margin-right: 15px;
  }

  .logout-btn {
    border: 0;
    background-color: transparent;
    color: $basic-blue;
    font-size: $fs-md;
    padding: 0;
    cursor: pointer;
  }
}

.page-content {
  padding: 0 20px 20px;
}