.product-info-container {
  display: flex;
  margin-top: 15px;
}

.figures-container {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.left-info, .left-info {
  display: flex;
  flex-direction: column;
}

.left-info {
  margin-right: 10px;
}

.right-info {
  margin-left: 10px;
}

.product-image {
  height: auto;
}

.product-controls {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .buy-btn {
    height: 50px;
  }
}