@import "variables";
@import "colors";

.product-card {
  padding: 10px;
  margin: 20px;
  border: 1px solid $basic-gray;
}

.product-image {
  height: auto;
}

.product-price {
  font-weight: bold;
  font-size: 18px;
}

.product-card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
}
