<div class="login-page-container">
    <div class="login-page-content">
        <div class="logo-container">
            <div class="logo-img"></div>
            <div class="welcome-message">Logo</div>
        </div>
        <div class="form-container">
            <div *ngIf="isWrongUserInput"
                 class="alert alert-danger form-error">
                <div>Wrong login or password</div>
            </div>
            <form class="login-form"
                  [formGroup]="loginForm"
                  (submit)="doLogin()">
                <div *ngIf="login.invalid && (login.dirty || login.touched)"
                     class="alert alert-danger">

                    <div *ngIf="login.hasError('required')">
                        Login is required.
                    </div>
                    <div *ngIf="login.hasError('minlength')">
                        Login must be at least 3 characters long.
                    </div>
                    <div *ngIf="login.hasError('pattern')">
                        Name should contain only latin characters.
                    </div>
                </div>
                <input class="login-input"
                       type="text"
                       formControlName="login">
                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                     class="alert alert-danger">

                    <div *ngIf="password.hasError('required')">
                        Password is required.
                    </div>
                </div>
                <input class="login-input"
                       type="text"
                       formControlName="password">

                <button class="login-btn" type="submit" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </div>
</div>